body{
    padding:0;
    margin:0;
  overflow: hidden;

}
h2{
    font-size:min(1.5em,3rem);
    color: transparent !important;
    -webkit-text-stroke: white 5px;
    margin-top: -252px;
    
}
strong{
    z-index: 0;
    margin-top: -4px;
    font-family: bodoni mt;
    
}
  .con{
      height:750px;
      width:100%;
      background-color:rgb(102, 88, 230);
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 5em;
  color:white;
   
  }
    #re{
        border:none;
        height: 45px;
        width:80px;
        /* border-radius:25px; */
        
        background-color:orange;
    }
    #rebloc{
        display: flex;
    }
    #elem{
       
        height: 550px;
        width:100%;
        background-color:rgb(60, 47, 168);
        text-align: center;
        color:white;
        margin-top:45px;
        overflow: auto;
        text-align:left;
       
    }
    .cadre{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        /* display: none; */
    }
    #rechercher{
        height:45px;
        width: 100%;

    }
    #begin{
        height: 45px;
        width: 20vh;
        background-color:tomato;
        border: none;
        border-radius: 12px;
        color: white;
        font-size:22px;
        margin-top: -7px;
        cursor: pointer;
    }
    .con img{
        height:150px;
        width: 300px  ;
        transform: scale(2.8);
        position: relative;
        top:-258px;
 
        background-color:transparent;
        border-radius:50%;

        
    }
    .option{
        height: 550px;
        /* width: 100%; */
        display:flex;
        justify-content: center;
         align-items: center;
         background: rgb(38, 29, 121);
    }
    .option button{
        padding:14px;
        /* margin-left: 110px;  */
        background-color:tomato;
        height:150px;
        width : 40%;  
        font-size: 2em;
        color: white;
        border:5px solid white;
        border-radius:32px;
        font-family: bodoni mt;

      }

      #numo{
          height:700px;
          width: 100%  ;
          background-color:rgb(97, 82, 236);
      }
        #numo p{

            display:flex;
            justify-content:center;
            align-items:center;

    }
           #libello{
          height:700px;
          width: 100%  ;
          background-color:rgb(231, 135, 44);
      }

      /* 2 eme cas */


    #re1{
        border:none;
        height: 45px;
        width:80px;
        /* border-radius:25px; */
        
        background-color:orange;
    }
    #rebloc1{
        display: flex;
    }
    #elem1{
       
        height: 550px;
        width:100%;
        background-color:rgb(60, 47, 168);
        text-align: center;
        color:white;
        margin-top:45px;
        overflow: auto;
        text-align:left;
       
    }
    .cadre1{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        /* display: none; */
    }
    #rechercher1{
        height:45px;
        width: 100%;

    }
    #libello p{
        text-align: center;
    }
    
    @media screen and (max-width:300px) {
          .option{
              /* display: flex !important;
              flex-direction: column ;
              justify-content: center !important;
              align-items: center !important; */
          }
        .option button {
           width: 21vh;
           height:95px;
           /* margin-left: 5px; */
        }
        
    }
    
    @media screen and (max-width:700px) {
          .option{
              /* display: flex !important;
              flex-direction: column ;
              justify-content: center !important;
              align-items: center !important; */
          }
        .option button {
           width: 21vh;
           height:95px;
           /* margin-left: 35px; */
        }
        .con img{
        height:150px;
        width: 124px;
        transform: scale(2.8);
        position: relative;
        top:-258px;
 
        background-color:transparent;
        border-radius:50%;

        
    }
        
    }